*gifs/
*.gif
*.png
*.jpg
*.jpeg
*.mp4
*.avi
*.mov
*.mkv
__pycache__/
*.pyc
.DS_Store
.vscode/
.ipynb_checkpoints/
env/
venv/
*.log
*.out
*.aux
*.toc
*.log
*.synctex.gz
*.fdb_latexmk
*.fls
*.blg
*.bbl
*.nav
*.snm
*.vrb
*.lof
*.lot
*.idx
*.ilg
*.dvi
*.ps
*.class
*.jar
*.war
*.ear
*.iml
.idea/
*.swp
